.header-link {
  font-family: 'General Sans', sans-serif;
  font-size: .8125rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.33;
  text-transform: uppercase;
}

.header-link-btn {
  font-family: 'General Sans', sans-serif;
  font-size: .8125rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.33;
  text-transform: uppercase;
}
